<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class = "main-content">
        {{>header}}
        <img class = "portrait" src = "/img/foto den.png">
        <h2>Biodata</h2>    
            <li>
                <b>Nama</b>
            </li>
            <p>
                Fadhil Nugraha Wikarya
            </p>
            <li>
            <b>Tempat / Tanggal Lahir</b>
            </li>
            <p>
                Padang / 23 Desember 2002
            </p>
            <li>
            <b>Alamat</b>
            </li>
            <p>
                Komp Lubuk Gading Permai 3 Blok M/6
            </p>
            <li>
            <b>Email</b>
            </li>
            <p>
                fadhil.nugraha231202@gmail.com
            </p>
            <li>
            <b>No HP</b>
            </li>
            <p>
                081275403771
            </p>
            <br>
        <h2>Pendidikan</h2>
            <li>
                <b>Universitas Negeri Padang</b>
            </li>
            <p>
                S1 - Informatika (2021-Sekarang)
            </p>
            <li>
                <b>SMAN 1 Padang</b>
            </li>
            <p>
            MIPA (2018-2021)
            </p>
            <br>
        <h2>Keterampilan</h2>
            <li>
                <b>Programming Languages</b>
            </li>
            <p>
                C, C++, Python, JavaScript
            </p>
            <li>
                <b>Web Development</b>
            </li>
            <p>
                HTML, CSS, Node.js
            </p>
            <li>
                <b>Database Management</b>
            </li>
            <p>
                MySQL
            </p>    
    {{>footer}}
</body>
</html>